@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Prompt", sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.7rem;
}

.navbar__logo img {
  width: 7.3rem;
}

.navbar__lists {
  display: none;
}

.navbar__bar {
  font-size: 2.2rem;
  margin-right: 1rem;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .navbar {
    margin-left: 1.3rem;
    margin-top: 1rem;
  }
  .navbar__logo img {
    width: 9.5rem;
  }
  .navbar__lists {
    display: flex;
    margin-right: 2rem;
  }
  .lists {
    display: flex;
    align-items: center;
  }
  .lists a {
    font-size: 2.4rem;
    margin: 0 1rem;
    color: black;
    text-decoration: none;
  }
  .lists a:hover {
    color: #da5c45;
  }
  .navbar__bar {
    display: none;
  }
}

/* HERO */
.hero__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__title1 {
  font-size: 4rem;
  font-weight: 700;
}
.hero__title2 {
  font-size: 4rem;
  font-weight: 700;
  color: #da5c45;
  position: relative;
  bottom: 1rem;
}
.hero__btn {
  color: white;
  background-color: black;
  width: 15rem;
  height: 5rem;
  border-radius: 25px;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 1rem;
}
.hero__image {
  display: flex;
  justify-content: center;
}

.hero__image img {
  width: 31.2rem;
}
@media screen and (min-width: 768px) {
  .hero {
    display: flex;
    padding: 0 20rem;
    justify-content: space-around;
  }
  .hero__text {
    align-items: flex-start;
  }
  .hero__title1 {
    font-size: 8.5rem;
  }
  .hero__title2 {
    font-size: 8.5rem;
    position: relative;
    bottom: 3rem;
  }
  .hero__btn {
    position: relative;
    bottom: 3rem;
  }
  .hero__image img {
    width: 52.2rem;
  }
}

/* CHARACTER */
.character {
  margin-top: 6.7rem;
  margin-bottom: 3rem;
}
.character__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.character__title {
  font-size: 4rem;
  font-weight: 700;
}

.character__card__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.character__card {
  width: 27rem;
  height: 33.7rem;
  border: 1px solid #000;
  border-radius: 55px;
  background-color: #da5c45;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}
.character__card img {
  width: 85%;
}
.character__img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.character__btn {
  width: 20rem;
  height: 5rem;
  font-size: 2rem;
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  font-weight: 500;
  border: 1px solid #000;
}

@media screen and (min-width: 768px) {
  .character__tagline {
    font-size: 2.2rem;
  }
  .character__title {
    font-size: 6rem;
  }
  .character__card__container {
    flex-direction: row;
    justify-content: space-around;
    padding: 0 15rem;
    flex-wrap: wrap;
  }
  .character__card {
    width: 35rem;
    height: 45rem;
  }
  .character__btn {
    width: 25rem;
    height: 6rem;
    margin-top: 1.5rem;
    font-size: 2.4rem;
  }
}

/* STORY */
.story {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.story__img img {
  width: 35rem;
  border-radius: 20px;
  border: 3px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.text1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.title1 {
  font-size: 3rem;
  font-weight: 500;
  border-radius: 10px;
  padding: 1rem;
}
.btn1 {
  font-size: 1.8rem;
  width: 45rem;
  border-radius: 10px;
  padding: 1rem;
  background-color: #da5c45;
  color: #fff;
}
.text2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.title2 {
  font-size: 3rem;
  font-weight: 500;
  border-radius: 10px;
  padding: 1rem;
}
.btn2 {
  font-size: 1.8rem;
  width: 45rem;
  margin-bottom: 3rem;
  border-radius: 10px;
  padding: 1rem;
  background-color: #da5c45;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .story__img img {
    width: 60rem;
  }

  .title1 {
    font-size: 4rem;
    font-weight: 600;
  }
  .btn1 {
    font-size: 2.2rem;
    width: 150rem;
  }

  .title2 {
    font-size: 4rem;
    font-weight: 600;
  }
  .btn2 {
    font-size: 2.2rem;
    width: 150rem;
    margin-bottom: 3rem;
  }
}

/* SHOPPING */
.news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.news__card {
  margin-top: 3rem;
  width: 24.5rem;
  height: 31rem;
  background-color: #da5c45;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 55px;
  border: 3px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.news__image img {
  width: 20rem;
  margin-bottom: 2rem;
}
.news__btn {
  width: 14.2rem;
  height: 4.6rem;
  background-color: white;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  cursor: pointer;
}
.news__btn:hover {
  color: white;
  background-color: black;
}
@media screen and (min-width: 768px) {
  .news {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .news__card {
    margin: 4rem 4rem;
    width: 27.2rem;
    height: 34rem;
  }
  .news__image img {
    width: 20rem;
  }
  .news__btn {
    width: 16.4rem;
    height: 5.4rem;
  }
}
/* CONTACT */
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact__card {
  margin-top: 3rem;
  width: 32rem;
  height: 32rem;
  background-color: #da5c45;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 55px;
  border: 3px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.contact__bar {
  width: 21rem;
  margin-bottom: 2rem;
  background-color: #000;
  color: white;
  border-radius: 40px;
  height: 18.5rem;
  text-align: center;
  font-size: 14rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact__btn {
  width: 25rem;
  height: 5rem;
  font-size: 1.8rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}
@media screen and (min-width: 768px) {
  .contact {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .contact__card {
    margin: 1.5rem 8.7rem;
    width: 35rem;
    height: 35rem;
  }
  .contact__btn {
    font-size: 2.2rem;
    width: 30rem;
    height: 6rem;
    margin-top: 1rem;
  }
}
